<mat-card>
  <mat-card-title>Choise you option</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let car of cars">
        <img mat-list-avatar src="{{car.giphyUrl}}" alt="{{car.name}}">
        <h3 mat-line>
          <a mat-button [routerLink]="['/car-edit', car.id]">{{car.name}}</a>
          <a mat-button href="{{car.url}}" target="_blank">Link</a>
        </h3>
        <mat-form-field>
          <textarea matInput placeholder="Note Here">{{car.note}}</textarea>
        </mat-form-field>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <button mat-fab color="primary" [routerLink]="['/car-add']">Add</button>
</mat-card>